$xs: 576px; // extra small
$sm: 768px; // small
$md: 992px; // medium
$lg: 1200px; // large
$xl: 1400px; // extra large

@mixin phone {
    @media only screen and (max-width: $xs) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $sm) {
        @content;
    }
}
@mixin tablet-landscape {
    @media only screen and (max-width: $md) {
        @content;
    }
}
@mixin laptop {
    @media only screen and (max-width: $lg) {
        @content;
    }
}
