@import url(https://github.com/Jay-yoon10/font/tree/main/Consolas-Font);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.98);
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 4;
}

nav a {
  text-decoration: none;
  color: #45a29e;
  font-size: 36px;
  font-weight: 450;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 28px 5px;
}

nav ul li a {
  color: #45a29e;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 23px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #1f2833;
  background: #f2e1c1;
}

nav .menu-btn i {
  color: #f2e1c1;
  font-size: 20px;
  cursor: hand;
  display: none;
}

input[type=checkbox] {
  display: none;
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  nav .menu-btn i {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
  }

  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }

  nav ul {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    position: fixed;
    top: 80px;
    left: -100%;
    background: #1f2833;
    transition: all 0.4s ease;
    z-index: 4;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 30px;
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
nav ul li a:hover {
    color: #f2e1c1;
    font-weight: 800;
    background: none;
  }
}
.about {
  width: 100%;
  height: 200vh;
}
.about__heading {
  text-shadow: 3px 3px 3px #45a29e;
  padding-top: 90px;
  font-size: 80px;
  color: #f5f5f5cc;
  text-align: center;
  border-bottom: 2px solid #f09;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
}
.about__chef {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.about__chef--para {
  font-size: 25px;
  width: 400px;
  padding-top: 0px;
  margin-left: 40px;
  color: #f5f5f5e3;
}
.about__journey {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.about__journey--para {
  font-size: 25px;
  width: 1000px;
  margin: 60px;
  color: #f5f5f5e3;
}

#chef-img {
  height: 350px;
  width: 600px;
  border-radius: 20px;
}

#cloud-img {
  height: 500px;
  width: 900px;
  border-radius: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45vh;
  width: 40vh;
}
.container__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 350px;
  background-image: url("../img/me.jpg");
  border-radius: 50%;
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 0;
}
.container__image:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 20px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.container__image .container__info {
  font-size: 25px;
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.4s;
  opacity: 0;
}
.container__image .container__location {
  transition-delay: 0.15s;
}

.chef__image {
  position: absolute;
  left: 70%;
  background-image: url("../img/chef.jpg");
}
.chef__image:hover {
  width: 450px;
  height: 280px;
  border-radius: 0;
  transform: translate3d(-60%, -50px, 80px);
}
.chef__image:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(1.4) translate3d(-40%, 250px, 80px);
}
.chef__image:hover .chef__image--info {
  font-size: 24px;
  color: #c5c6c7;
  transform: translate3d(-120%, -100px, 0px);
  opacity: 1;
}

.cloud__image {
  position: absolute;
  left: 20%;
  background-image: url("../img/cloud.jpg");
}
.cloud__image:hover {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08);
  transform: scale(1) translate3d(-20%, 50px, 80px);
}
.cloud__image:hover:before {
  width: 100%;
  opacity: 0.4;
  filter: blur(10px) saturate(100%);
  transform: scale(1.4) translate3d(60%, 50px, 0px);
}
.cloud__image:hover .cloud__image--info {
  font-size: 24px;
  color: #c5c6c7;
  transform: translate3d(60%, -300px, 0px);
  opacity: 1;
}

.jay__image {
  position: absolute;
  left: 60%;
  background-image: url("../img/me.jpg");
}
.jay__image:hover {
  border-radius: 0;
  width: 500px;
  height: 800px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08);
  transform: translate3d(-18%, -80px, 0px);
}
.jay__image:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(1.4) translate3d(-30%, -180px, 0px);
}
.jay__image:hover .jay__image--info {
  font-size: 24px;
  color: #c5c6c7;
  transform: translate3d(-30%, -480px, 0px);
  opacity: 1;
}

@media only screen and (max-width: 576px) {
  .chef__image {
    transform: scale(0.4);
    top: 43%;
    left: 30%;
  }
  .chef__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 0;
    transform: scale(0.8) translate3d(100%, 200px, 80px);
  }
  .chef__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(0%, 50px, 80px);
  }
  .chef__image:hover .chef__image--info {
    font-size: 16px;
    color: #c5c6c7;
    transform: translate3d(-130%, -360px, 0px);
    opacity: 1;
  }

  .cloud__image {
    transform: scale(0.6);
    position: absolute;
    margin-top: 70px;
    left: 30%;
  }
  .cloud__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    transform: scale(0.8) translate3d(-100%, 200px, 80px);
  }
  .cloud__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(0.8) translate3d(-100%, 50px, 80px);
  }
  .cloud__image:hover .cloud__image--info {
    width: 500px;
    font-size: 16px;
    color: #c5c6c7;
    transform: translate3d(60%, -400px, 0px);
    opacity: 1;
  }

  .jay__image {
    transform: scale(0.6);
    position: absolute;
    margin-top: 100px;
    left: 30%;
    background-image: url("../img/me.jpg");
  }
  .jay__image:hover {
    border-radius: 0;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
    transform: scale(0.7) translate3d(0%, 200px, 80px);
  }
  .jay__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(18%, 0px, 0px);
  }
  .jay__image:hover .jay__image--info {
    font-size: 16px;
    color: #c5c6c7;
    transform: translate3d(-28%, -380px, 0px);
    opacity: 1;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .chef__image {
    transform: scale(0.6);
    top: 43%;
    left: 30%;
  }
  .chef__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 0;
    transform: scale(0.8) translate3d(100%, 200px, 80px);
  }
  .chef__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(0%, 50px, 80px);
  }
  .chef__image:hover .chef__image--info {
    font-size: 18px;
    color: #c5c6c7;
    transform: translate3d(-110%, -360px, 0px);
    opacity: 1;
  }

  .cloud__image {
    transform: scale(0.6);
    position: absolute;
    margin-top: 70px;
    left: 30%;
  }
  .cloud__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    transform: scale(0.8) translate3d(-100%, 200px, 80px);
  }
  .cloud__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(0.8) translate3d(-100%, 50px, 80px);
  }
  .cloud__image:hover .cloud__image--info {
    width: 650px;
    font-size: 18px;
    color: #c5c6c7;
    transform: translate3d(50%, -400px, 0px);
    opacity: 1;
  }

  .jay__image {
    transform: scale(0.6);
    position: absolute;
    margin-top: 100px;
    left: 30%;
    background-image: url("../img/me.jpg");
  }
  .jay__image:hover {
    border-radius: 0;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
    transform: scale(0.7) translate3d(0%, 200px, 80px);
  }
  .jay__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(18%, 0px, 0px);
  }
  .jay__image:hover .jay__image--info {
    font-size: 18px;
    color: #c5c6c7;
    transform: translate3d(-18%, -380px, 0px);
    opacity: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .chef__image {
    display: flex;
    transform: scale(0.7);
    top: 43%;
    left: 38%;
  }
  .chef__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 0;
    transform: scale(0.7) translate3d(-10%, 100px, 80px);
  }
  .chef__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(0%, 50px, 80px);
  }
  .chef__image:hover .chef__image--info {
    font-size: 20px;
    color: #c5c6c7;
    transform: translate3d(-50%, -460px, 0px);
    opacity: 1;
  }

  .cloud__image {
    transform: scale(0.7);
    position: absolute;
    left: 38%;
  }
  .cloud__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    transform: scale(0.7) translate3d(-100%, 200px, 80px);
  }
  .cloud__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(0.7) translate3d(-100%, 50px, 80px);
  }
  .cloud__image:hover .cloud__image--info {
    font-size: 21px;
    color: #c5c6c7;
    transform: translate3d(80%, -450px, 0px);
    opacity: 1;
  }

  .jay__image {
    transform: scale(0.7);
    position: absolute;
    left: 38%;
    background-image: url("../img/me.jpg");
  }
  .jay__image:hover {
    border-radius: 0;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
    transform: scale(0.7) translate3d(0%, 200px, 80px);
  }
  .jay__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(18%, 0px, 0px);
  }
  .jay__image:hover .jay__image--info {
    font-size: 21px;
    color: #c5c6c7;
    transform: translate3d(-18%, -380px, 0px);
    opacity: 1;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .about__heading {
    transform: scale(0.75);
  }

  .chef__image {
    transform: scale(0.8);
    top: 43%;
    left: 38%;
  }
  .chef__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 0;
    transform: scale(0.8) translate3d(100%, 200px, 80px);
  }
  .chef__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(0%, 50px, 80px);
  }
  .chef__image:hover .chef__image--info {
    font-size: 21px;
    color: #c5c6c7;
    transform: translate3d(-130%, -360px, 0px);
    opacity: 1;
  }

  .cloud__image {
    transform: scale(0.8);
    position: absolute;
    margin-top: 70px;
    left: 37%;
  }
  .cloud__image:hover {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    transform: scale(0.8) translate3d(-100%, 200px, 80px);
  }
  .cloud__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(0.8) translate3d(-100%, 50px, 80px);
  }
  .cloud__image:hover .cloud__image--info {
    width: 650px;
    font-size: 21px;
    color: #c5c6c7;
    transform: translate3d(60%, -400px, 0px);
    opacity: 1;
  }

  .jay__image {
    transform: scale(0.8);
    position: absolute;
    left: 38%;
    background-image: url("../img/me.jpg");
  }
  .jay__image:hover {
    border-radius: 0;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
    transform: scale(0.7) translate3d(0%, 200px, 80px);
  }
  .jay__image:hover:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(1.4) translate3d(18%, 0px, 0px);
  }
  .jay__image:hover .jay__image--info {
    font-size: 21px;
    color: #c5c6c7;
    transform: translate3d(-18%, -380px, 0px);
    opacity: 1;
  }
}
.container__info {
  height: 40%;
}

.tech__heading {
  padding-top: 90px;
  text-shadow: 3px 3px 3px #45a29e;
  font-size: 80px;
  color: #f5f5f5cc;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #5271ff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.tech {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.tech-box {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
}

.row {
  margin: 30px;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-right: 40px;
  cursor: pointer;
}

.tech-box__icon {
  background-color: #fff;
  position: absolute;
  bottom: 80%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 30px;
  opacity: 0;
  transition: all 0.5s;
}

.tech-box__icon::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}

.tech i {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 10%;
  color: #fff;
  font-size: 70px;
  margin: 40px;
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .tech__heading {
    transform: scale(0.75);
  }
}
.tooltip:hover .tech-box__icon {
  opacity: 1;
  transform: translateY(-10px);
}

.github:hover i {
  background-color: #211f1f;
}

.git {
  background-color: #211f1f;
  color: whitesmoke;
}

.javascript:hover i {
  background-color: #323330;
  color: #f0db4f;
}

.js {
  color: #f0db4f;
  background-color: #323330;
}

.java:hover i {
  background-color: #5382a1;
  color: #f89820;
}

.jv {
  background-color: #5382a1;
  color: #f89820;
}

.react:hover i {
  color: #60dafb;
  background-color: #1f232a;
}

.rt {
  color: #60dafb;
  background-color: #1f232a;
}

.amazon:hover i {
  color: #ff9900;
  background-color: #232f3e;
}

.aws {
  color: #ff9900;
  background-color: #232f3e;
  text-align: center;
}

.operation:hover i {
  background-color: #ffb900;
  color: #00a4ef;
}

.os {
  color: #f25022;
  background-color: #7fba00;
}

.database:hover i {
  background-color: #f29111;
  color: #00758f;
}

.sql {
  color: #00758f;
  background-color: #f29111;
}

.html5:hover i {
  background-color: #e34c26;
  color: #ebebeb;
}

.html {
  background-color: #e34c26;
  color: #ebebeb;
}

.scss:hover i {
  background-color: #3c99dc;
  color: #d5f3fe;
}

.css {
  color: #3c99dc;
  background-color: #d5f3fe;
}

.project {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.project-heading {
  padding-top: 90px;
  text-shadow: 3px 3px 3px #45a29e;
  font-size: 80px;
  color: #f5f5f5cc;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
  border-bottom: 2px solid #bc13fe;
}

.card {
  position: absolute;
  top: 50%;
  left: 27%;
  width: 400px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 150%;
  width: 130%;
  background: white;
  line-height: 300px;
  color: #45a29e;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #1f2833;
  color: #f2e1c1;
  transform: rotateY(180deg);
}

.card2 {
  left: 66%;
}

.card3 {
  left: 27%;
  top: 100%;
}

.card4 {
  left: 66%;
  top: 100%;
}

.card5 {
  left: 27%;
  top: 150%;
}

.card6 {
  left: 66%;
  top: 150%;
}

@media only screen and (max-width: 950px) {
  .project-heading {
    transform: scale(0.75);
  }
}
@media only screen and (max-width: 576px) {
  .card {
    transform: scale(0.45);
  }

  .card1 {
    top: 50%;
    left: 40%;
  }

  .card2 {
    top: 80%;
    right: 50%;
  }

  .card3 {
    top: 110%;
    left: 40%;
  }

  .card4 {
    top: 140%;
    right: 50%;
  }

  .card5 {
    top: 170%;
    left: 40%;
  }

  .card6 {
    top: 200%;
    right: 50%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card {
    transform: scale(0.5);
    display: flex;
  }

  .card1 {
    top: 74%;
    left: 20%;
  }

  .card2 {
    top: 74%;
    right: 20%;
  }

  .card3 {
    top: 124%;
    left: 20%;
  }

  .card4 {
    top: 124%;
    right: 20%;
  }

  .card5 {
    top: 174%;
    left: 20%;
  }

  .card6 {
    top: 174%;
    right: 20%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .card {
    transform: scale(0.55);
    display: flex;
  }

  .card1 {
    top: 52%;
    left: 20%;
  }

  .card2 {
    top: 52%;
    right: 20%;
  }

  .card3 {
    top: 100%;
    left: 20%;
  }

  .card4 {
    top: 100%;
    right: 20%;
  }

  .card5 {
    top: 148%;
    left: 20%;
  }

  .card6 {
    top: 148%;
    right: 20%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .card {
    transform: scale(0.6);
  }

  .card1 {
    top: 50%;
    left: 20%;
  }

  .card2 {
    top: 50%;
    right: 20%;
  }

  .card3 {
    top: 90%;
    left: 20%;
  }

  .card4 {
    top: 90%;
    right: 20%;
  }

  .card5 {
    top: 130%;
    left: 20%;
  }

  .card6 {
    top: 130%;
    right: 20%;
  }
}
@media only screen and (min-width: 1301px) {
  .card {
    transform: scale(0.85);
  }
}
.contact {
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
}

.jay_img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: block;
}

#contactImg {
  border-radius: 45%;
  width: 400px;
  height: 560px;
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.jay_img:hover #contactImg {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.jay_img .glow-effect {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.jay_img .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jay_img:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jay_img:hover #contactImg,
.jay_img:hover .glow-effect {
  margin-top: 0;
}

.contact_name {
  font-size: 60px;
  position: absolute;
  z-index: 1;
  transform: translate(35%, -75%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.2;
  text-shadow: 3px 3px 3px #45a29e;
  color: #f5f5f5cc;
}

.contact-heading {
  padding-top: 90px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-size: 80px;
  color: #f5f5f5cc;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(28, 255, 179, 0.73);
}

.contact-source {
  position: absolute;
  top: 40%;
  left: 40%;
  outline: none;
}
.contact-source a {
  text-decoration: none;
  font-size: 70px;
  margin: 50px;
}

.mail {
  color: #c5c6c7;
}

.linkedin {
  color: white;
  background-color: #0077b5;
  padding: -5px;
  border-radius: 5px;
}

.a_style {
  color: #f8f8b2;
  text-decoration: none;
  transition: 1s;
}

.a_style:hover {
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}

@media only screen and (max-width: 950px) {
  .contact-heading {
    transform: scale(0.75);
  }
}
@media only screen and (max-width: 576px) {
  .jay_img {
    transform: scale(0.5);
    top: 30%;
    left: 0%;
  }

  .contact-source {
    transform: scale(0.5);
    position: absolute;
    top: 70%;
    right: 0%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .jay_img {
    transform: scale(0.4);
    top: 18%;
    left: 8%;
  }

  .contact-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.5);
    top: 18%;
    left: 50%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .jay_img {
    transform: scale(0.4);
    top: 20%;
    left: 15%;
  }

  .contact-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.5);
    top: 20%;
    left: 50%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .contact-heading {
    transform: scale(0.75);
  }
}
@media only screen and (min-width: 1301px) {
  .jay_img {
    transform: scale(0.9);
    top: 30%;
    left: 15%;
  }

  .contact-source {
    transform: scale(0.7);
    top: 50%;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars,
.twinkling {
  width: 100%;
  height: 400vh;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

@keyframes textGradient {
  to {
    background-position: 200% center;
  }
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
#logo {
  letter-spacing: -3px;
  color: #45a29e;
  font-size: 40px;
  font-weight: 500;
}

.home {
  width: 100%;
  height: 100vh;
}
.home__logo {
  animation: pulsate 15s ease-out infinite alternate;
  padding-top: 14%;
  font-size: 120px;
  color: #45a29e;
}
.home__logo--first {
  text-align: center;
}
.home__logo--second {
  text-align: center;
  font-size: 80px;
  font-weight: 200;
  margin: 10px;
  font-weight: 430;
  background: linear-gradient(to bottom right, #1f2833 20%, #c5c6c7 40%, #f2e1c1 60%, #45a29e 80%, #66fcf1 90%);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textGradient 24s ease-in-out infinite;
}
.home__logo--name {
  margin: 10px;
  font-weight: 430;
  background: linear-gradient(to bottom right, #1f2833 20%, #c5c6c7 40%, #f2e1c1 60%, #45a29e 80%, #66fcf1 90%);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textGradient 20s ease-in-out infinite;
}

.nav-bar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .home__logo {
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home__logo {
    font-size: 100px;
    text-align: center;
  }
  .home__logo--second {
    font-size: 70px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__logo {
    padding-right: 0px;
  }
  .home__logo--second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 60px;
  }
  .home__logo--border {
    height: 40vh;
  }
  .home__logo--first {
    font-size: 90px;
  }
}
@keyframes pulsate {
  20% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.719), 0 0 11px #fff, 0 0 19px #fff, 0 0 20px rgba(255, 255, 255, 0.719), 0 0 20px rgba(255, 255, 255, 0.719), 0 0 26px rgba(255, 255, 255, 0.719), 0 0 30px rgba(255, 255, 255, 0.719), 0 0 35px rgba(255, 255, 255, 0.719);
  }
  5% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #062c43, 0 0 73px #530f1e, 0 0 80px #a44322, 0 0 94px #f8bc04, 0 0 1200px #76101e;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
