@use "./partials/devices" as media;
@use "./styles/nav.scss";
@use "./styles/about.scss";
@use "./styles/tech.scss";
@use "./styles/project.scss";
@use "./styles/contact.scss";
@use "./partials/color.scss" as color;
@use "./partials/background";
@use "./partials/logo";

// color pallete

// fonts
@import url(https://github.com/Jay-yoon10/font/tree/main/Consolas-Font);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
// ------INCLUDED PAGE & PARTIALS-------
//Nav-bar //
//background//
//logo
//about page
//tech_skill page //
//project page
//contact page
