@use "./partials/devices" as media;
// color pallete
$primary-color: #716f81;
$second-color: #f2e1c1;
$third-color: #b97a95;
$fourth-color: #f6ae99;
$fifth-color: #2d4059;
$sixth-color: #35477d;
$seventh-color: #6c5b7b;
$name-color: #f5f5f5;
// fonts
@import url(https://github.com/Jay-yoon10/font/tree/main/Consolas-Font);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas;
}
@keyframes movingGradient {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
#logo {
    letter-spacing: -4px;
    color: $name-color;
    font-size: 40px;
}
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
        to bottom right,
        $second-color 5%,
        $primary-color 10%,
        $sixth-color 40%,
        $fifth-color 60%
    );
    background-size: 200% 200%;
    animation: movingGradient 20s linear infinite alternate;

    &__logo {
        display: flex;
        flex-direction: column;
        font-size: 120px;
        margin-top: 250px;
        color: $second-color;

        &--border {
            text-align: center;
            width: 1000px;
            height: 390px;
            padding-top: 70px;
            border: 5px solid $second-color;
            border-radius: 20px;
        }
        &--second {
            font-size: 80px;
        }
        &--name {
            margin: 10px;
            font-weight: 530;
        }
    }
}

.nav-bar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@include media.laptop {
    .home__logo {
        &--border {
            width: 80vw;
            height: 40vh;
        }
    }
}
@include media.tablet-landscape {
    .home__logo {
        font-size: 100px;
        margin-top: 200px;

        &--second {
            font-size: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &--border {
            width: 80vw;
            height: 40vh;
        }
    }
}
@include media.tablet {
    .home__logo {
        margin-top: 200px;

        &--second {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 60px;
        }
        &--border {
            height: 40vh;
            width: 80vw;
        }
        &--first {
            font-size: 80px;
        }
    }
}
// Nav-bar //
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: $fifth-color;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: $name-color;
    font-size: 36px;
    font-weight: 450;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 28px 5px;
}

nav ul li a {
    color: $second-color;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: $fifth-color;
    background: $second-color;
}
nav .menu-btn i {
    color: $second-color;
    font-size: 20px;
    cursor: hand;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@include media.laptop {
    nav .menu-btn i {
        padding: 30px 20px;
    }
}
@include media.tablet-landscape {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i::before {
        content: "\f00d";
    }
    nav ul {
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        position: fixed;
        top: 80px;
        left: -100%;
        background: $fifth-color;
        transition: all 0.4s ease;
    }
    #click:checked ~ ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
    }
    #click:checked ~ ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: $primary-color;
        font-weight: 800;
    }
}

.about {
    display: grid;
    grid-template-areas:
        "chef chef c-para"
        "chef chef c-para"
        "cl-para cloud cloud"
        "cl-para cloud cloud"
        "Jay Jay J-para"
        "Jay Jay J-para";
}

#chef-img {
    grid-area: chef;
    height: 400px;
    width: 300px;
}
#cloud-img {
    grid-area: cloud;
    height: 500px;
    width: 700px;
}
#jay-img {
    grid-area: Jay;
}
