@use "./partials/_background.scss";
@use "./modules/scrollbar.scss";
@use "./modules/navbar.scss";
@use "./modules/menu-btn.scss";
@use "./modules/footer.scss";
@use "./styles/home.scss";
@use "./styles/about.scss";
@use "./styles/project.scss";
@use "./styles/skills.scss";
@use "./styles/contact.scss";
@use "./partials/color.scss" as color;

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/* all similar content styling codes */
section {
    padding: 100px 0;
}
.section-div {
    max-width: 1700px;
    padding: 0 80px;
    margin: auto;
}
.about,
.projects,
.skills,
.teams,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}
.about .about__div--content,
.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    color: color.$secondary-color;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

/* responsive media query */
@media (max-width: 1104px) {
    .about .about__div--content .left img {
        height: 350px;
        width: 350px;
    }
    .skill-box {
        display: flex;
        flex-wrap: nowrap;
    }
    .contact {
        transform: scale(0.9);
        justify-content: center;
    }
    .about {
        &__div {
            &--content {
                .right {
                    .text {
                        text-align: center;
                    }
                    p {
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    section .title {
        font-size: 40px;
    }
    .section-div {
        padding: 0 50px;
    }

    .skill-box {
        display: flex;
        flex-wrap: nowrap;
        transform: scale(0.7);
    }
}
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home__div--content .text-2 {
        font-size: 70px;
    }
    .home .home__div--content .text-3 {
        font-size: 35px;
    }
    .home .home__div--content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .section-div {
        max-width: 930px;
    }
    .about .about__div--content .column {
        width: 100%;
    }
    .about .about__div--content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about__div--content .right {
        flex: 100%;
    }
    .projects .projects__div--content .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact__div--content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .contact {
        transform: scale(0.75);
        justify-content: center;
    }
}

@media (max-width: 690px) {
    section .title {
        font-size: 35px;
    }
    .section-div {
        padding: 0 23px;
    }
    .home .home__div--content .text-2 {
        font-size: 60px;
    }
    .home .home__div--content .text-3 {
        font-size: 32px;
    }
    .home .home__div--content a {
        font-size: 20px;
    }
    .projects .projects__div--content .card {
        width: 100%;
    }

    .skill-box {
        display: flex;
        flex-wrap: nowrap;
        transform: scale(0.5);
    }
    .contact {
        transform: scale(0.6);
        justify-content: center;
    }
    .about {
        &__div {
            &--content {
                .right {
                    .text {
                        text-align: center;
                    }
                    p {
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    section .title {
        font-size: 30px;
    }
    .home .home__div--content .text-2 {
        font-size: 50px;
    }
    .home .home__div--content .text-3 {
        font-size: 27px;
    }
    .about .about__div--content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .contact {
        transform: scale(0.5);
        justify-content: center;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .projects {
        &__div {
            &--content {
                .card {
                    .box {
                        .used-lang {
                            font-size: 15px;
                        }
                    }

                    i {
                        transform: scale(0.5);
                    }
                }
            }
        }
    }
    .about {
        &__div {
            &--content {
                .right {
                    .text {
                        text-align: center;
                    }
                    p {
                        font-size: 13px;
                        text-align: center;
                    }
                    a {
                        display: flex;
                        // align-items: center;
                        justify-content: center;
                        max-width: 70%;
                        margin-left: 15%;
                    }
                }
            }
        }
    }
}
