/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
/* background */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars,
.twinkling {
  width: auto;
  height: 800vh;
}

.stars {
  background: url(../img/stars.JPG) #000 repeat top center;
  z-index: 0;
}

.twinkling {
  background: url(../img/twinkling.JPG) transparent repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

@keyframes textGradient {
  to {
    background-position: 200% center;
  }
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__box--menu-btn {
  color: #f1faee;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.navbar__logo a {
  color: #f1faee;
  font-size: 35px;
  font-weight: 600;
}
.navbar__logo a span {
  color: #06d6a0;
  transition: all 0.3s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #f1faee;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #06d6a0;
}

.navbar.unchanged {
  padding: 15px 0;
  background: #06d6a0;
}

.navbar.unchanged .logo a span {
  color: #f1faee;
}

.navbar.unchanged .menu li a:hover {
  color: #f1faee;
}

/* menu btn styling */
.menu-btn {
  color: #f1faee;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #06d6a0;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #f1faee;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #f1faee;
  text-align: center;
  bottom: 0;
  position: fixed;
}

footer span a {
  color: #06d6a0;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* home section styling */
.home {
  display: flex;
  height: 100vh;
  color: #f1faee;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home__div {
  width: 100%;
  display: flex;
}
.home__div .row {
  margin-right: 0;
}
.home__div--content a {
  display: inline-block;
  background: #06d6a0;
  color: #f1faee;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #06d6a0;
  transition: all 0.3s ease;
}
.home__div--content a:hover {
  color: #06d6a0;
  background: none;
}
.home__div--content-text1 {
  font-size: 27px;
}
.home__div--content-text2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home__div--content-text3 {
  font-size: 40px;
  margin: 5px 0;
}
.home__div--content-text3 span {
  animation: pulsate 5s ease-out infinite alternate;
  font-weight: 500;
}

@keyframes pulsate {
  20% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.719), 0 0 11px #f1faee, 0 0 19px #f1faee, 0 0 20px rgba(255, 255, 255, 0.719), 0 0 20px rgba(255, 255, 255, 0.719), 0 0 26px rgba(255, 255, 255, 0.719), 0 0 30px rgba(255, 255, 255, 0.719), 0 0 35px rgba(255, 255, 255, 0.719);
  }
  5% {
    text-shadow: 0 0 4px #f1faee, 0 0 10px #f1faee, 0 0 18px #f1faee, 0 0 38px #062c43, 0 0 73px #530f1e, 0 0 80px #a44322, 0 0 94px #f8bc04, 0 0 1200px #76101e;
  }
}
/* about section styling */
.about__div--content .left {
  width: 45%;
}
.about__div--content .left img {
  height: 450px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about__div--content .right {
  width: 55%;
}
.about__div--content .right a {
  display: inline-block;
  background: #06d6a0;
  color: #f1faee;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #06d6a0;
  transition: all 0.3s ease;
}
.about__div--content .right a:hover {
  color: #06d6a0;
  background: none;
}
.about__div--content .right p {
  text-align: justify;
  color: #f1faee;
  font-size: 20px;
}
.about__div--content .right .p1 {
  text-indent: 30px;
}
.about__div--content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.span-left {
  color: #06d6a0;
}

.span-right {
  color: #f1faee;
}

/* project section styling */
.projects,
.skills {
  color: #f1faee;
}

.projects .title::before,
.title::before {
  background: #f1faee;
}

.projects .title::after,
.title::after {
  background: #111;
}

.projects__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projects__div--content {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}
.projects__div--content .card {
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
  margin-right: 50px;
  height: 600px;
  width: 450px;
}
.projects__div--content .card .box {
  transition: all 0.3s ease;
}
.projects__div--content .card .box .icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projects__div--content .card .box img {
  height: 350px;
  border-radius: 8px;
  padding: 10px;
}
.projects__div--content .card .box .used-lang {
  font-size: 30px;
}
.projects__div--content .card .box .used-lang .js {
  color: #f0db4f;
  background-color: transparent;
}
.projects__div--content .card .box .used-lang .html {
  background-color: transparent;
  color: #e34c26;
}
.projects__div--content .card .box .used-lang .css {
  color: #3c99dc;
  background-color: transparent;
}
.projects__div--content .card .box .used-lang .react {
  color: #60dafb;
  background-color: transparent;
}
.projects__div--content .card .box .used-lang .java {
  background-color: transparent;
  color: #f89820;
}
.projects__div--content .card .box .used-lang i {
  font-size: 50px;
}
.projects__div--content .card span {
  font-size: 20px;
  color: whitesmoke;
}
.projects__div--content .card i {
  font-size: 30px;
  margin-top: 25px;
  margin-right: 10px;
  color: whitesmoke;
  background-color: transparent;
  transition: color 0.3s ease;
}
.projects__div--content .card .text {
  font-size: 30px;
  font-weight: 500;
  margin: 15px;
}
.projects__div--content .card:hover {
  background: #06d6a0;
}
.projects__div--content .card:hover i {
  color: #f1faee;
}
.projects__div--content .card:hover .box {
  transform: scale(1.05);
}

.slider {
  max-width: 1500px;
  display: flex;
}

.slider .card {
  flex: 1;
  margin: 0 10px;
}

.slider .card .img {
  height: 400px;
  width: 100%;
}

.slider .card .img img {
  object-fit: cover;
}

.slider .card .content {
  padding: 10px 20px;
}

/* skills section styling */
.skill {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  height: 110vh;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
}

.row {
  margin: 30px;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-right: 40px;
  text-align: center;
  cursor: pointer;
}

.skill-box__icon {
  background-color: #fff;
  position: absolute;
  bottom: 80%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 30px;
  opacity: 0;
  transition: all 0.5s;
}

.skill-box__icon::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}

.skill i {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 10%;
  color: #fff;
  font-size: 70px;
  margin: 40px;
}

.tooltip:hover .skill-box__icon {
  opacity: 1;
  transform: translateY(-10px);
}

.github:hover i {
  background-color: #211f1f;
}

.git {
  background-color: #211f1f;
  color: whitesmoke;
}

.javascript:hover i {
  background-color: #323330;
  color: #f0db4f;
}

.js {
  color: #f0db4f;
  background-color: #323330;
}

.java:hover i {
  background-color: #5382a1;
  color: #f89820;
}

.jv {
  background-color: #5382a1;
  color: #f89820;
}

.react:hover i {
  color: #60dafb;
  background-color: #1f232a;
}

.rt {
  color: #60dafb;
  background-color: #1f232a;
}

.amazon:hover i {
  color: #ff9900;
  background-color: #232f3e;
}

.aws {
  color: #ff9900;
  background-color: #232f3e;
  text-align: center;
}

.operation:hover i {
  background-color: #ffb900;
  color: #00a4ef;
}

.os {
  color: #f25022;
  background-color: #7fba00;
}

.database:hover i {
  background-color: #f29111;
  color: #00758f;
}

.sql {
  color: #00758f;
  background-color: #f29111;
}

.html5:hover i {
  background-color: #e34c26;
  color: #ebebeb;
}

.html {
  background-color: #e34c26;
  color: #ebebeb;
}

.scss:hover i {
  background-color: #3c99dc;
  color: #d5f3fe;
}

.css {
  color: #3c99dc;
  background-color: #d5f3fe;
}

#skills--title {
  color: #f1faee;
}

/* contact section styling */
#contact-title {
  color: #f1faee;
}

.contact {
  display: flex;
}
.contact__div--content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact__div--content p {
  font-size: 20px;
}
.contact__div--content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact__div--content .icons-box1 {
  display: flex;
  justify-content: center;
}
.contact__div--content .icons-box2 {
  display: flex;
  flex-direction: row;
}
.contact__div--content .row {
  display: flex;
  height: 65px;
  align-items: center;
  flex-direction: row;
  margin-left: 0;
}
.contact__div--content .row .info .sub-title {
  font-weight: 500;
  color: #f1faee;
  margin-left: 20px;
  font-size: larger;
}
.contact__div--content .row .email-info {
  display: flex;
  justify-content: center;
}
.contact__div--content .row i {
  font-size: 40px;
  color: #06d6a0;
  background-color: transparent;
}
.contact__div--content .right form .fields {
  display: flex;
}
.contact__div--content .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact__div--content .right form .name {
  margin-right: 10px;
}
.contact__div--content .right form .button-area button {
  color: #f1faee;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #06d6a0;
  border: 2px solid #06d6a0;
  transition: all 0.3s ease;
}
.contact__div--content .right form .button-area button:hover {
  color: #06d6a0;
  background: none;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.section-div {
  max-width: 1700px;
  padding: 0 80px;
  margin: auto;
}

.about,
.projects,
.skills,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

.about .about__div--content,
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  color: #f1faee;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

/* responsive media query */
@media (max-width: 1104px) {
  .about .about__div--content .left img {
    height: 350px;
    width: 350px;
  }
  .skill-box {
    display: flex;
    flex-wrap: nowrap;
  }
  .contact {
    transform: scale(0.9);
    justify-content: center;
  }
  .about__div--content .right .text {
    text-align: center;
  }
  .about__div--content .right p {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  section .title {
    font-size: 40px;
  }
  .section-div {
    padding: 0 50px;
  }
  .skill-box {
    display: flex;
    flex-wrap: nowrap;
    transform: scale(0.7);
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home__div--content .text-2 {
    font-size: 70px;
  }
  .home .home__div--content .text-3 {
    font-size: 35px;
  }
  .home .home__div--content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .section-div {
    max-width: 930px;
  }
  .about .about__div--content .column {
    width: 100%;
  }
  .about .about__div--content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about__div--content .right {
    flex: 100%;
  }
  .projects .projects__div--content .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact__div--content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact {
    transform: scale(0.75);
    justify-content: center;
  }
}
@media (max-width: 690px) {
  section .title {
    font-size: 35px;
  }
  .section-div {
    padding: 0 23px;
  }
  .home .home__div--content .text-2 {
    font-size: 60px;
  }
  .home .home__div--content .text-3 {
    font-size: 32px;
  }
  .home .home__div--content a {
    font-size: 20px;
  }
  .projects .projects__div--content .card {
    width: 100%;
  }
  .skill-box {
    display: flex;
    flex-wrap: nowrap;
    transform: scale(0.5);
  }
  .contact {
    transform: scale(0.6);
    justify-content: center;
  }
  .about__div--content .right .text {
    text-align: center;
  }
  .about__div--content .right p {
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  section .title {
    font-size: 30px;
  }
  .home .home__div--content .text-2 {
    font-size: 50px;
  }
  .home .home__div--content .text-3 {
    font-size: 27px;
  }
  .about .about__div--content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .contact {
    transform: scale(0.5);
    justify-content: center;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .projects__div--content .card .box .used-lang {
    font-size: 15px;
  }
  .projects__div--content .card i {
    transform: scale(0.5);
  }
  .about__div--content .right .text {
    text-align: center;
  }
  .about__div--content .right p {
    font-size: 13px;
    text-align: center;
  }
  .about__div--content .right a {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin-left: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
