$primary-color: #c5c6c7;
$second-color: #f2e1c1;
$third-color: #b97a95;
$fourth-color: #66fcf1;
$fifth-color: #1f2833;
$sixth-color: #0b0c10;
$seventh-color: #6c5b7b;
$name-color: #45a29e;
#tech {
    display: grid;
    height: 100%;
    place-items: center;
    background-image: linear-gradient(
        to bottom right,
        $second-color 5%,
        $primary-color 10%,
        $sixth-color 40%,
        $fifth-color 60%
    );
    background-size: 200% 200%;
    animation: movingGradient 20s linear infinite alternate;
}

::selection {
    color: #fff;
    background: #6665ee;
}
.tech-bar {
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.bar {
    margin: 20px 0;

    &:first-child {
        margin-top: 0px;
    }
    &__info {
        margin-bottom: 15px;
        &--span {
            font-weight: 500;
            font-size: 40px;
            opacity: 0;
            animation: textOpacity 0.5s 1s linear forwards;
        }

        &--line {
            height: 10px;
            width: 100%;
            background: #f0f0f0;
            position: relative;
            transform: scaleX(0);
            transform-origin: left;
            border-radius: 10px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
                0 1px rgba(255, 255, 255, 0.8);
            animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
        }
    }
}
.progress-span {
    height: 100%;
    width: 80%;
    position: absolute;
    border-radius: 10px;
    background: #6665ee;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar__info--html span {
    width: 70%;
}
.bar__info--css span {
    width: 60%;
}
.bar__info--js span {
    width: 20%;
}
.bar__info--java span {
    width: 40%;
}
.bar__info--react span {
    width: 0%;
}
.bar__info--sql span {
    width: 20%;
}
.bar__info--os span {
    width: 90%;
}
.bar__info--aws span {
    width: 40%;
}
.bar__info--git span {
    width: 50%;
}

@keyframes textOpacity {
    100% {
        opacity: 1;
    }
}

.progress-span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.progress-span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}
.bar__info--html span::after {
    content: "70%";
}
.bar__info--css span::after {
    content: "60%";
}
.bar__info--js span::after {
    content: "25%";
}
.bar__info--java span::after {
    content: "40%";
}
.bar__info--react span::after {
    content: "0%";
}
.bar__info--sql span::after {
    content: "20%";
}
.bar__info--os span::after {
    content: "90%";
}
.bar__info--aws span::after {
    content: "40%";
}
.bar__info--git span::after {
    content: "50%";
}

.tech-box__icon {
    font-size: 30px;
    color: $name-color;
}
