@use "../partials/color.scss" as color;
/* contact section styling */

#contact-title {
    color: color.$secondary-color;
}
.contact {
    display: flex;
    &__div {
        &--content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            p {
                font-size: 20px;
            }
            .text {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .icons-box1 {
                display: flex;
                justify-content: center;
            }
            .icons-box2 {
                display: flex;
                flex-direction: row;
            }

            .row {
                display: flex;
                height: 65px;
                align-items: center;
                flex-direction: row;
                margin-left: 0;
                .info {
                    .sub-title {
                        font-weight: 500;
                        color: color.$secondary-color;
                        margin-left: 20px;
                        font-size: larger;
                    }
                }
                .email-info {
                    display: flex;
                    justify-content: center;
                }
                i {
                    font-size: 40px;
                    color: color.$primary-color;
                    background-color: transparent;
                }
            }
            .right {
                form {
                    .fields {
                        display: flex;
                    }
                    .textarea {
                        height: 80px;
                        width: 100%;
                    }

                    .name {
                        margin-right: 10px;
                    }
                    .button-area {
                        button {
                            color: color.$secondary-color;
                            display: block;
                            width: 160px !important;
                            height: 45px;
                            outline: none;
                            font-size: 18px;
                            font-weight: 500;
                            border-radius: 6px;
                            cursor: pointer;
                            flex-wrap: nowrap;
                            background: color.$primary-color;
                            border: 2px solid color.$primary-color;
                            transition: all 0.3s ease;
                        }
                        button:hover {
                            color: color.$primary-color;
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
.contact .right form .button-area {
    display: flex;
    align-items: center;
}
